/Doc/
/Libraries/CMSIS/Documentation/
/Project/IAR/TP-X500-001/Obj/
/Project/IAR/DB-ROBOT-S1/
/Project/IAR/DB-ROBOT-S3/

*.pdf
*.html
*.png
*.xsd
*.pbi
*.lst
*.map
*.crf
*.o
*.d
*.cout
*.dbgdt
*.bat
*.wspos
*.dep
*.icf
*.htm
*.sct
*.plg
*.tra
*.lnp
*.Administrator
*.uvoptx
*.uvopt
*.bak
*.svd
*.exe
Libraries/CMSIS/README.txt
Libraries/CMSIS/Documentation/Core/html/installdox
Libraries/CMSIS/Documentation/RTOS/html/installdox
*.pbd
*.browse
*.crun
*.dni
*.wsdt
*.ewd
*.out
*.hex
*.ewp
*.axf
*.iex
